html(lang='en')
  head
    meta( charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block title
      title Notion 34
    include ../layout/style.pug
    block page_style
      <!--page css link and custom css goes here-->
      style(type="text/css").
      
  body
    div(class="app")
      block header
        include ./header.pug
      block intro_image

      block main
        div(class="main")
    include ../layout/script.pug
    block page_script
      script(src="/js/js.js")