div(class="footer container-fluid bg-white border-top-dark d-flex flex-column w-100")
    div(class="row footer-top justify-content-center")
        ul(class="nav")
            li(class="nav-item")
                a(class="nav-link text-dark" aria-current="page" href="/contact") Contact Us
            li(class="nav-item")
                a(class="nav-link text-dark" href="/privacy") Privacy Policy
            li(class="nav-item")
                a(class="nav-link text-dark" href="/terms") Terms of Use
            li(class="nav-item")
                a(class="nav-link text-dark" href="/faq") FAQ
    div(class="row footer-social justify-content-center")
        ul(class="nav")
            li(class="nav-item")
                a(href="#" target="_blank")
                    i(class="fa fa-instagram")
            li(class="nav-item")
                a(href="#" target="_blank")
                    i(class="fa fa-twitter")
            li(class="nav-item")
                a(href="#" target="_blank")
                    i(class="fa fa-facebook")
    div(class="row footer-contact justify-content-center")
        ul(class="nav")
            li(class="nav-item")
                span(class="c-title") m:
                a(href="tel:+2348064128157") +234 806 412 8157
            li(class="nav-item")
                span(class="c-title") e:
                a(href="mailto:notionthirtyfourmedia@gmail.com") notionthirtyfourmedia@gmail.com
