link(rel="shortcut icon" href="/public/images/logos/svg/Notion.svg" type="image/x-icon")
link(rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css")
link(rel="stylesheet" href="/public/fonts/fontawesome/css/font-awesome.css")
link(rel="stylesheet" href="/css/css.css")