.app{
  content: "";
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: auto;
  overflow-x: unset;
  flex-direction: column;
  color:  #0000;
  font-size: 1.3rem;
}

.header {
  padding: 0rem 0rem 1rem 0rem;
  z-index: 20;
  background: #f59e1775!important;
  font-size: 1.3rem;
  /* position: sticky; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header .nav-link {
  font-size: 1.5rem;
  font-weight: 500;
}
.header-base img {
  padding: 0.5rem 0rem 0rem;
  width: 10rem;
}

.bg-images{
  min-height: 65vh;
  max-height: 75vh;
  z-index: 1;
  background: url(/public/images/backgrounds/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  content: "";
}
.btn-gold{
  background: #f59e17;
  color: #000000;
}

.footer{
  position: fixed;
  bottom: 0;
  padding: 1vh 0.5rem;
  left: 0;
  right: 0;
}

.footer .nav-link{
  font-weight: 500;
}

.footer .nav-link:hover, .footer .nav-link:focus, .footer .nav-link:active, .footer .nav-link:focus-within{
  color: #cccccc !important;
}

@media (max-width: 1024px){
  .notice-section{
      width: 100%;
  }
  .app{
      padding: 1rem 0.7rem;
  }
}
@media (max-width: 768px){
  .justify-content-sm-start{
    justify-content: flex-start !important;
  }
  .justify-content-sm-end{
    justify-content: flex-end !important;
  }
  .main-menu{
    background: #fffefc;
  }
}