html(lang='en')
  head
    meta( charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Notion 34
    link(rel="shortcut icon" href="/public/images/logos/svg/Notion.svg" type="image/x-icon")
    link(rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/css.css")
  body
    div(class="app")
      div(class="notice-section")
        div(class="img-wrapper text-center")
          img(src="public/images/logos/svg/Notion_white.svg" alt="Notion THIRTYFOUR" class="logo-notice")
        div(class="notice-title")
          h2 Something amazing is coming
          h4 We are almost there! Signup to findout when it's ready
        div(class="timer")
          div(class="days")
            h3 
            h6(cladss="label") Days
          div(class="hours")
            h3 
            h6(cladss="label") Hours
          div(class="minutes")
            h3 
            h6(cladss="label") Minutes
          div(class="seconds")
            h3 
            h6(cladss="label") Seconds
    script(src="/public/assets/jquery/jquery.min.js")
    script(src="/public/assets/bootstrap/js/bootstrap.min.js")
    script(src="/js/css.js")